<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>a13 swamp rabbit</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.18exp"></script>
  </head>
  <body>
    <header><img src="https://googledrive.com/host/0B7cLHyqTKoTqclUyYkxlU1hLYlE/SRC_200x200_Black.png"/></header>

      <div class="masterContainer">

        <div class="tagline"><p>Bringing you the best in bicycle gear, equipment and community since 1999!</p></div>

        <div class="imgContainer"></div>
<!--     </div>
 -->

        <div class="store-info"><p>From mountain bikes to kids training wheels, we've got what you need. <br />
          Come join us for our Saturday community events or just stop by to say hello!</p></div>

        <div class="contact-info">
            <p>Visit, call or email us today and get the most out of your bike riding experience!</p>
            <a href="tel:+18648483858">(864) 848-3859</a>
            <a href="swamprabbitcycling@example.com">swamprabbitcycling@example.com</a>
        </div>

        <div id="map-canvas"></div>

        <footer>
          <img src="https://googledrive.com/host/0B7cLHyqTKoTqclUyYkxlU1hLYlE/SRC_200x200_White.png">
          <span>2014 Swamp Rabbit Cycling, LLC.</span>
        </footer>

      </div>











<!--flickr image template -->
<script id="image_template" type="text/template"><div class="image_wrapper"><img class="image_image" src="https://farm<%= farm%>.staticflickr.com/<%= server %>/<%= id %>_<%= secret %>.jpg"></div></script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/hammerjs/hammer.js"></script>
    <script src="../bower_components/jquery-hammerjs/jquery.hammer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
